<!DOCTYPE html  PUBLIC "-//w3c//DTD XHTML 1.0 Tranistional//EN" 
	"http://wwww.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xnl:lang="en" lang="en">
	<head>
		<meta charset="utf-8" http-equiv="content-type" content="text/html" />
		<title>Products: <%= controller.action_name %></title>
		<%= stylesheet_link_tag 'scaffold', 'depot' %>
	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<!-- <p style="color:green"><%= flash[:notice] %></p> -->
		<%= yield %>
	</body>
</html>